/* Kosher?? */
* {
    -ms-touch-action: none; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0 auto; 
    font-family: 'Karla', sans-serif ! important;
}
    body {
        opacity: 0.0;
        -webkit-transition: opacity .5s;
    }
    
/* LINKS */
a, a:hover, a:focus { 
    color: #4572A7; 
    text-decoration: none; 
}
    a:active {
        color: #858C9D;
    }
	/* Everything clickable */
	a, button { 
	    -webkit-tap-highlight-color: rgba(69,114,167,.3);
	    -webkit-touch-callout: none;
	}

/* TABS */
#tabgroup {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    overflow: hidden;
}
    #tabs { 
        display: table; 
        width: 100%;
        background-color: #36332D; 
        border-top: 2px solid #36332D; 
    }
    /* Highlight selected appbar tab. TODO: Shifts by one pixel in Firefox */
    #tabs.rules .rules, #tabs.builders .builders, #tabs.dice .dice, #tabs.history .history {
        background-color: #7D796F; 
    }
    #tabs > a {
            display: table-cell; 
            font-size: 120%; 
            color: #FFFFFF; 
            text-align: center; 
            vertical-align: middle;  
            color: white; 
            font-weight: bold; 
            text-shadow: 0px -1px 1px #000000; 
            padding: 6px 0px 8px 0px; 
            -webkit-border-top-left-radius: 4px; 
            -webkit-border-top-right-radius: 4px; 
            border-top-left-radius: 4px;  
            border-top-right-radius: 4px;
        }
        #tabs a:first-child { 
            -webkit-border-top-left-radius: 0px; 
            border-top-left-radius: 0px;
        }
        #tabs a:last-child { 
            -webkit-border-top-right-radius: 0px; 
            border-top-right-radius: 0px;
        }
        
        /* TAB BAR */
        #tabbar {
            background-color: #7D796F; 
            border-bottom: 1px solid black;
            text-align: center;
            padding: 2px 0px;
        }
        #tabbar select {
            margin: 0 auto;
            /*background-color: #7D796F;*/
            background-color: white;
            border: 1px solid #5D584B;
            width: 50%;
        }
        #tabbar > * {
            display: none;
        }
        #tabbar.rules > .rules, #tabbar.builders > .builders, #tabbar.dice > .dice, #tabbar.history > .history {
            display: block; 
        }

/* SECTIONS */

.sections {
    margin: 3px 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    display: inline-block ! important;
    font-size: 110%;
    background: #7D796F url(../images/alert-overlay.png) repeat-x;
    color: white;
    border: 1px solid #5D584B;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
    .sections li { 
        display: inline-block;
        padding: 0em 2em; 
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    .sections li.selected { 
        background-color: #ccc; 
        background: #ccc url(../images/alert-overlay.png) repeat-x; 
    }
        .sections li a { 
            display: block; 
            padding: 4px 0px; 
            color: white;
        }
        .sections li.selected a { 
            color: #36332D; 
        }

/* CARDS */

.card {
    max-width: 800px;
    margin: 0px auto;
    padding: 90px 10px 20px 10px;
}
.well {
    padding: 10px ! important;
    font-size: 120%;
}
    .label {
        font-size: smaller;
        color: #666D7F;
        margin-bottom: .25rem;
        margin-left: .75rem;
    }
    .label b {
        color: black;
    }
    .dice p { 
        text-align: center; 
    }
    .dice .minor {
        font-size: 80%;
    }
    .well > * {
        margin: 0;
    }
    .well .more {
        margin-top: 10px;
    }
    /*
    .well > *:first-child, .more > *:first-child {
        margin-top: 0 ! important;
    }
    .well > *:last-child, .more > *:last-child {
        margin-bottom: 0 ! important;
    }*/

/* FORMS */

input, select, option, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
label, legend {
    font-size: 18px;
    width: 200px;
}
input {
    font-size: 18px;
    padding: 6px 10px;
    width: 200px;
    border-radius: 4px;
}
select {
    font-size: 18px;
    font-weight: normal;
    width: 200px;
}
/* RULES */

.welcome {
    color: white;
    background-color: #82A401;
    margin: -15px -10px 20px;
    padding: 2rem 1rem;
    background-color: #82A401;
    min-height: 180px;
    font-size: 120%;
}
.welcome img {
    float: right;
    width: 140px;
    height: 140px;
    margin-top: .5rem;
    margin-left: 10px;
}

/* DICE */

.dice .output, .dice .descr {
    text-align: center; 
}

/* HISTORY */

.hsy-entry:first-child {
    margin-top: 10px;
}
.hsy-entry {
    border-bottom: 2px solid black;
    padding: 8px;
}
.hsy-entry a[data-bind] {
    margin-top: 8px;
    display: inline-block;
    font-size: larger;
    padding: 0 10px;
}

/* PANELS */

.panel {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding: 15px 10px 10px 10px;
    border-bottom: 2px solid black;
    background-color: #CCCCCC;
    -webkit-transform: translate(0%,-100%);
    transform: translate(0%,-100%);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
}
.panel legend {
    margin: 0px;
    border: none;
}
    .panelOpen {
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
    .buttons {
        margin-top: 10px;
    }
}